<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">Issue Tracker</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

</nav>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Reset Password</h2>

    <label for="inputPassword" class="sr-only">Enter Password</label>

    <input type="email" id="email" class="form-control" [(ngModel)]="email" placeholder="Email address" required>
    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="emailFunction()">Submit</button>

  </div>

  <div class="col-sm"></div>

</div>

